@import '@economist/component-articletemplate';
@import '@economist/component-picture';
@import '@economist/component-ad-panel';
@import '@economist/component-video';
@import '@economist/component-win-stats-container';
@import '@economist/component-palette';

@import './shared';
@import './main';
@import './portrait';
@import './leader';
@import './predictors';
@import './numbers';

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-grey: #edeef0;
  --color-dark-grey: #3C3C3C;
  --color-mid-grey: #c2c2c2;
  --color-red: #E3120B;
  --color-mid-blue: #367FB6;
  --color-dark-blue: #253A43;
  --color-imagecaption-text: #9c9c9c;
}
