.world-in-main-ArticleTemplate--container {
  background-color: var(--color-white);
}

.world-in-main-ArticleTemplate--header {
  height: auto;
  border-left: 1px solid var(--color-red);
  margin-left: 7.5%;
  width: 80%;
  bottom: 0;
  margin-top: -80px;
  position: relative;
}

.world-in-main-ArticleTemplate--imagecontainer {
  position: relative;
}

.world-in-main-ArticleTemplate--image {
  width: 100%;
  height: auto;
  display: block;
}

.world-in-main-ArticleTemplate--title, .world-in-main-ArticleTemplate--rubric {
  color: var(--color-white);
}

.world-in-main-ArticleTemplate--title {
  line-height: 48px;
}

.world-in-main-ArticleTemplate--rubric {
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.world-in-main-ArticleTemplate--header {
  background-color: rgba(37, 58, 67, 0.95);
}

article:not(.world-in-portrait-ArticleTemplate--container) .ArticleTemplate--app-cta {
  width: 100%;
  background: linear-gradient(to bottom, rgba(231,235,235,1) 10%, rgba(255,255,255,1) 100%);
}

.app-cta {
  margin: 70px 7.5%;
  padding: 30px 0;
  max-width: 1090px;
  line-height: 0;
}

.app-cta__mobile {
  width: 25%;
  max-width: 105px;
}

.app-cta__mobile img {
  width: 100%;
}

.app-cta__text {
  margin: 15px 0 20px 0;
  font-family: 'Officina';
  font-size: 18px;
  line-height: 28px;
}

.app-cta__images {
  display: table;
  width: 100%;
}

.app-cta__image {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.app-cta__image img {
  width: 80%;
  max-width: 160px;
}

@media screen and (min-width: 480px) {
  .app-cta__mobile {
    width: 20%;
  }

  .app-cta__image img {
    width: 60%;
  }
}

@media screen and (min-width: 860px) {
  .app-cta__mobile {
    float: left;
    width: 10%;
    margin-right: 15px;
  }

  .app-cta__text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 980px) {
  .app-cta {
    display: table;
  }

  .app-cta__mobile {
    float: none;
    margin: 0;
  }

  .app-cta__text {
    margin: 0;
    padding-left: 20px;
    width: 50%;
  }

  .app-cta__mobile,
  .app-cta__text,
  .app-cta__images {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  .app-cta__image {
    display: inline-block;
    text-align: right;
  }

  .app-cta__image img {
    width: 70%;
  }
}

@media screen and (max-width: 860px) {
  .world-in-main-ArticleTemplate--flytitle,
  .world-in-main-ArticleTemplate--title {
    line-height: 35px;
  }

  .world-in-main-ArticleTemplate--header {
    margin-top: -50px;
    position: relative;
  }
}
