@import '@economist/component-font-officina';
@import '@economist/component-palette';
@import './industry';

.world-in-numbers-ArticleTemplate--title,
.world-in-industries-ArticleTemplate--title {
  font-family: 'Officina';
  font-size: 40px;
  line-height: 52px;
}

.world-in-numbers-ArticleTemplate--title-uppercase,
.world-in-industries-ArticleTemplate--title-uppercase {
  text-transform: uppercase;
  font-family: 'Neutra2Display';
  color: var(--color-economist);
  font-weight: inherit;
}

.world-in-numbers-ArticleTemplate--title-strap,
.world-in-industries-ArticleTemplate--title-strap {
  font-family: 'Officina';
  margin: 30px 0;
}

.world-in-numbers-ArticleTemplate--header,
.world-in-industries-ArticleTemplate--header {
  margin-bottom: 70px;
}

.world-in-numbers-ArticleTemplate--header,
.world-in-numbers-ArticleTemplate--subheader,
.world-in-industries-ArticleTemplate--header,
.world-in-industries-ArticleTemplate--subheader {
  text-align: center;
}

.world-in-numbers-ArticleTemplate--subheader,
.world-in-industries-ArticleTemplate--subheader {
  margin: 0;
  width: 100%;
  border: 0 none;
  border-bottom: 1px solid #979797;
  padding: 0;
  position: relative;
  height: 41px;
  margin-bottom: 70px;
}

.world-in-numbers-ArticleTemplate--section-section-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 836px;
  height: 41px;
}

.world-in-numbers-ArticleTemplate--section-section {
  position: absolute;
  left: 0;
  bottom: -1px;
  margin: 0;
  padding: 0;
  font-size: 33px;
  line-height: 1;
  color: var(--color-economist);
  border-bottom: 1px solid var(--color-economist);
}

.world-in-numbers-ArticleTemplate--header .countries__select,
.world-in-industries-ArticleTemplate--header .industry__select {
  font-family: 'Officina';
  border-radius: 0;
  outline: none;
  appearance: none;
  box-shadow: none;
  color: white;
  background-color: var(--color-kiev);
  border: 0;
  border-bottom: 3px solid var(--color-economist);
  font-size: 22px;
  font-weight: bold;
  padding: 5px 20px;
  cursor: pointer;
  min-width: 260px;
}

.world-in-numbers-ArticleTemplate--header .countries__option {}

@media screen and (max-width: 860px) {
  .world-in-numbers-ArticleTemplate--section-section-wrapper {
    max-width: 502px;
  }

  .world-in-numbers-ArticleTemplate--title,
  .world-in-industries-ArticleTemplate--title {
    font-size: 32px;
    line-height: 43px;
  }
}

@media screen and (max-width: 550px) {
  .world-in-numbers-ArticleTemplate--section-section-wrapper {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}

@media screen and (max-width: 480px) {
  .world-in-numbers-ArticleTemplate--title,
  .world-in-industries-ArticleTemplate--title {
    font-size: 28px;
    line-height: 37px;
  }
}
