.world-in-portrait-ArticleTemplate--container {
  background-color: #E7EBEB;
}

.world-in-portrait-ArticleTemplate--header {
  background-color: transparent;

  height: auto;
  min-height: 140px;
  border-left: 1px solid var(--color-red);
  margin-left: 7.5%;
  width: 83.1%;
  position: absolute;
  bottom: -40px;
  padding: 0;
}

.world-in-portrait-ArticleTemplate--subheader {
  margin-top: 40px;
}

.world-in-portrait-ArticleTemplate--header:after {
    background-color: #E7EBEB;
    bottom: -3px;
    content: none;
}

.world-in-portrait-ArticleTemplate--imagecontainer {
  position: relative;
  background: linear-gradient(to bottom, #FFF 0%,#FFF 30%,#E7EBEB 100%);
}

.world-in-portrait-ArticleTemplate--image {
  width: 100%;
  height: auto;
  display: block;
}

.world-in-portrait-ArticleTemplate--title {
  padding: 25px 0 25px 3%;
  color: var(--color-dark-grey);
  width: 100%;
  background-color: transparent;
  line-height: 0;
  padding: 16px 3% 40px 3%;
}

.world-in-portrait-ArticleTemplate--rubric {
  color: var(--color-white);
  font-style: italic;
  border-left: 1px solid grey;
  background-color: #748C94;
  width: 96.9%;
  margin: 0;
  padding: 15px 3% 3% 3%;
}

.world-in-portrait-ArticleTemplate--byline {
  display: none;
}

.world-in-portrait-ArticleTemplate--container {
  background-color: #E7EBEB;
}

.world-in-portrait-ArticleTemplate--image {
    position: relative;
}

@media screen and (max-width: 860px) {
  .world-in-portrait-ArticleTemplate--flytitle,
  .world-in-portrait-ArticleTemplate--title {
    text-shadow: 0 0 18px #eaeeef;
  }

  .world-in-portrait-ArticleTemplate--header {
    position: relative;
    margin-top: -130px;
  }
}

@media screen and (max-width: 480px) {
  .world-in-portrait-ArticleTemplate--header {
    margin-top: 0;
    top: 20px;

  }

  .world-in-portrait-ArticleTemplate--title {
    line-height: inherit;
    padding: 0 0 5px 3%;
    min-height: 280px;
    text-shadow: none;
  }
  .world-in-portrait-ArticleTemplate--image {
    position: absolute;
    top: 12%;
  }

  .world-in-portrait-ArticleTemplate--subheader {
    margin-top: 0;
    /*padding-top: 16px;*/
  }
}
