.world-in-predictors-ArticleTemplate--container {
  background-color: #e6f0f5;
}

.world-in-predictors-ArticleTemplate--header {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    min-height: 140px;
    border-left: 1px solid #e3120b;
    margin-left: 7.5%;
    width: 83.1%;
    position: absolute;
    bottom: 0;
    padding: 3px;
}

.world-in-predictors-ArticleTemplate--image {
    width: 100%;
    height: auto;
    display: block;
}

.world-in-predictors-ArticleTemplate--imagecontainer {
    position: relative;
}

.world-in-predictors-ArticleTemplate--imagecontainer-inner {
  background-color: var(--color-white);
}

.world-in-predictors-ArticleTemplate--title,
.world-in-predictors-ArticleTemplate--rubric {
  color: var(--color-dark-blue);
  background-color: transparent;
  width: 64%;
}

.world-in-predictors-ArticleTemplate--section-section {
  color: #003D5D;
}

.world-in-predictors-ArticleTemplate--flytitle {
  display: block;
  color: var(--color-red);
  font-family: "Officina";
  font-size: 21px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 0 5px 3%;
}

.world-in-predictors-ArticleTemplate--title {
  line-height: 48px;
  padding: 10px 3%;
}

.world-in-predictors-ArticleTemplate--rubric {
  padding-top: 10px;
  padding-bottom: 13px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3%;
}

.world-in-predictors-ArticleTemplate--byline {
  padding-top: 15px;
}

@media screen and (max-width: 860px) {
  .world-in-predictors-ArticleTemplate--flytitle,
  .world-in-predictors-ArticleTemplate--title {
    line-height: 35px;
  }
  .world-in-predictors-ArticleTemplate--title,
  .world-in-predictors-ArticleTemplate--rubric {
    width: 65%;
  }
  .world-in-predictors-ArticleTemplate--rubric {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 700px) {

  .world-in-predictors-ArticleTemplate--header {
    top: 20px;
  }

  .world-in-predictors-ArticleTemplate--image {
    padding-top: 190px;
}

  .world-in-predictors-ArticleTemplate--rubric {
    width: 100%;
  }

  .world-in-predictors-ArticleTemplate--title {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .world-in-predictors-ArticleTemplate--container {
  }

  .world-in-predictors-ArticleTemplate--rubric {
    font-size: 22px;
    line-height: 28px;
    width: 100%;
  }

  .world-in-predictors-ArticleTemplate--title {
    padding-top: 0;
    width: 100%;
  }
  .world-in-predictors-ArticleTemplate--subheader {
    padding-top: 0;
  }
}
