@import '@economist/component-font-neutra2';
@import '@economist/component-font-officina';
@import '@economist/component-articletemplate';
@import '@economist/component-picture';
@import '@economist/component-ad-panel';
@import '@economist/component-video';
@import '@economist/component-win-stats-container';
@import '@economist/component-palette';
@import './shared';
@import './main';
@import './portrait';
@import './leader';
@import './predictors';
@import './numbers';
@import './world-if';

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-grey: #edeef0;
  --color-dark-grey: #3c3c3c;
  --color-mid-grey: #c2c2c2;
  --color-red: #e3120b;
  --color-mid-blue: #367fb6;
  --color-dark-blue: #253a43;
  --color-imagecaption-text: #9c9c9c;
}
