.world-if-article-template__imagecontainer-inner {
  position: relative;
}

.world-if-article-template__header {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.world-if-article-template__section-name {
  display: inline-block;
  margin: 0 7.5%;
  padding: 0 14px;
  color: #fff;
  font-family: Neutra2Display-Medium;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  background: #e3120b;
}

.world-if-article-template__flytitle {
  display: block;
  margin: 10px 7.5% 0;
  color: #e3120b;
  font-family: Neutra2Display-Medium;
  font-size: 50px;
  line-height: 44px;
  text-transform: uppercase;
}

.world-if-article-template__title {
  margin: 0 7.5% 15px;
  color: #fff;
  font-family: Neutra2Display-Titling;
  font-size: 50px;
  line-height: 44px;
  text-transform: uppercase;
}

@media screen and (max-width: 790px) {
  .world-if-article-template__section-name {
    padding: 0 12px;
    font-size: 18px;
    line-height: 28px;
  }
  .world-if-article-template__flytitle {
    margin: 8px 7.5% 0;
    font-size: 36px;
    line-height: 30px;
  }
  .world-if-article-template__title {
    margin: 0 7.5% 10px;
    font-size: 36px;
    line-height: 30px;
  }
}

@media screen and (max-width: 560px) {
  .world-if-article-template__header {
    position: static;
    background: none;
  }
  .world-if-article-template__section-name {
    padding: 0 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .world-if-article-template__flytitle {
    margin: 8px 7.5% 0;
    font-size: 30px;
    line-height: 26px;
  }
  .world-if-article-template__title {
    margin: 0 7.5%;
    color: #313131;
    font-size: 30px;
    line-height: 26px;
  }
}

.world-if-article-template__subheader {
  width: 57.9%;
  margin: 0 7.5%;
  padding-top: 0;
  padding-left: 0;
  border-left: 0;
}

@media screen and (max-width: 860px) {
  .world-if-article-template__subheader {
    width: 83.1%;
    margin: 0 7.5%;
  }
}

.world-if-article-template__pubdate {
  margin: 15px 0 0;
  color: #38a8e0;
  font-family: Neutra2Display-Titling;
  font-size: 21px;
  line-height: 34px;
  text-transform: uppercase;
}

.world-if-article-template__rubric {
  margin: 15px 0 60px;
  color: #313131;
  font-family: Neutra2Display;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

@media screen and (max-width: 560px) {
  .world-if-article-template__pubdate {
    margin: 10px 0 0;
    font-size: 18px;
    line-height: 28px;
  }
  .world-if-article-template__rubric {
    margin: 10px 0 45px;
    font-size: 21px;
    line-height: 28px;
  }
}

/* stylelint-disable selector-no-type */

.world-if-article-template__section > p:first-of-type {
  padding: 0;
  border-left: none;
}

.world-if-article-template__section > p:first-of-type::first-letter {
  float: left;
  margin-left: -2px;
  padding-top: 6px;
  padding-right: 8px;
  color: #e3120b;
  font-family: Neutra2Display-Titling;
  font-size: 70px;
  line-height: 60px;
}

.world-if-article-template__section p {
  width: 57.9%;
  margin: 0 0 20px 7.5%;
  padding: 0;
  color: #313131;
  font-family: 'Georgia, serif';
  font-size: 21px;
  line-height: 34px;
}

/* stylelint-enable selector-no-type */

.world-if-article-template__crossheads {
  width: 57.9%;
  margin: 20px 0 7.5%;
  padding: 0;
}

/* stylelint-disable selector-no-type */

.world-if-article-template__crossheads p {
  font-family: Neutra2Display;
  font-size: 24px;
  font-weight: 700;
}

/* stylelint-enable selector-no-type */

@media screen and (max-width: 860px) {
  /* stylelint-disable selector-no-type */
  .world-if-article-template__section p {
    width: auto;
    margin: 0 7.5% 20px;
  }
  /* stylelint-enable selector-no-type */
}

@media screen and (max-width: 560px) {
  /* stylelint-disable selector-no-type */
  .world-if-article-template__section > p:first-of-type::first-letter {
    padding-top: 0;
    font-size: 62px;
    line-height: 55px;
  }
  .world-if-article-template__section p {
    width: auto;
    margin: 0 7.5% 15px;
    font-size: 18px;
    line-height: 28px;
  }
  /* stylelint-enable selector-no-type */
  .world-if-article-template__crossheads {
    width: auto;
    margin: 0 7.5%;
    padding: 0;
  }
  /* stylelint-disable selector-no-type */
  .world-if-article-template__crossheads p {
    font-family: Neutra2Display;
    font-size: 21px;
    font-weight: 700;
  }
  /* stylelint-enable selector-no-type */
}
